src/main/mule/jenkins-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e5f943c6-e355-49fd-8cf8-d0df3c99febc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-cicd-demoFlow" doc:id="25c4af26-2cba-44d4-a877-e03626b2011b" >
		<http:listener doc:id="2786af13-cb95-42a5-b3da-95ed6e307faa" doc:name="" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="54fa1471-32c9-46f2-8fd7-8d57c82eec62" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "this is for jenkins CI/CD "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4d0b891b-a7f2-491d-bc78-39bd622cc14c" message="#[payload]"/>
	</flow>
</mule>
